<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.toyProject.mapper.ProfileMapper">
    <insert id="insertProfile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO TBL_PROFILE(PROFILE_ONE_LINE_BIO, MEMBER_ID)
        VALUES(#{profileOneLineBio},#{memberId})
    </insert>
</mapper>
